<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academylms.mapper.LectureMapper">
<select id="findLecturesByInstructor" parameterType="int" resultType="com.example.academylms.dto.Lecture">
    SELECT lecture_id lectureId, title
    FROM lecture
    WHERE instructor_id = #{instructorId}
</select>
<select id="selectLectureById" resultType="com.example.academylms.dto.Lecture" parameterType="int">
    SELECT 
        lecture_id lectureId,
        admin_id adminId,
        instructor_id instructorId,
        title,
        description,
        day,
        time,
        started_at startedAt,
        ended_at endedAt,
        create_date createDate
    FROM lecture
    WHERE lecture_id = #{lectureId}
</select>

<select id="findInstructorInfo"  resultType="com.example.academylms.dto.InstructorInfo">
SELECT u.user_id AS instructorId , i.name as name, i.major AS major FROM user u INNER JOIN instructor i ON u.user_id = i.instructor_id; 
</select>

<select id="findInstructorInfoByinfoId" parameterType="int" resultType="String">
SELECT i.major AS major FROM user u INNER JOIN instructor i ON u.user_id = i.instructor_id where instructor_id = #{instructorId};
</select>
</mapper>