<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academylms.mapper.LectureMapper">
<select id="findLecturesByInstructor" parameterType="int" resultType="com.example.academylms.dto.Lecture">
    SELECT lecture_id, lecture_name
    FROM lecture
    WHERE instructor_id = #{instructorId}
</select>
</mapper>