<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academylms.mapper.LoginMapper">
<select id="findByLoginInfo" parameterType="com.example.academylms.dto.User" resultType="com.example.academylms.dto.User"> 
	SELECT id id, password password, role role FROM user WHERE id=#{id} AND password = #{password}; 
</select>

<select id="findById" parameterType="Integer" resultType="com.example.academylms.dto.User">
	SELECT id id, PASSWORD password, birth birth, ROLE role, LAST_update lastUpdate FROM user WHERE user_id = #{userId};  
</select>
</mapper>