<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academylms.mapper.LoginMapper">
<select id="findByLoginInfo" parameterType="com.example.academylms.dto.User" resultType="com.example.academylms.dto.User"> 
  SELECT 
    user_id AS userId, 
    id, 
    password, 
    role 
  FROM user 
  WHERE id = #{id} AND password = #{password}
</select>

<select id="findById" parameterType="Integer" resultType="com.example.academylms.dto.User">
SELECT user_id userId, id id, PASSWORD password, birth birth, ROLE role, create_date createDate FROM user WHERE user_id = #{userId};  
</select>

<select id="findPassword" parameterType="com.example.academylms.dto.FindUserPassword" resultType="String">
SELECT  a.email email FROM  user u INNER JOIN admin a ON u.user_id  = a.admin_id WHERE u.id=#{id} and a.email=#{email}

UNION 

SELECT  i.email email FROM  user u INNER JOIN instructor i ON u.user_id  = i.instructor_id WHERE  u.id = #{id} and i.email =#{email} 

UNION 

SELECT s.email email FROM  user u INNER JOIN student s ON u.user_id  = s.student_id WHERE  u.id =#{id} and s.email = #{email};
</select>

<update id="updatePassword" parameterType="com.example.academylms.dto.UserLogin"> 
UPDATE user SET PASSWORD = #{password} where id = #{id};
</update>

<update id="updatePasswords" parameterType="com.example.academylms.dto.UserLogin"> 
UPDATE user SET PASSWORD = #{password} where user_id = #{userId};
</update>

<select id="findPasswordById" resultType="com.example.academylms.dto.User" parameterType="String">
SELECT user_id userId, id id, PASSWORD password, birth birth, ROLE role, create_date createDate FROM user where id = #{id};
</select>

<select id="validateEmail" resultType="int" >
SELECT 
	CASE 
		WHEN EXISTS (
 				SELECT 1 FROM  user u INNER JOIN admin a ON u.user_id  = a.admin_id WHERE u.id= #{id}  and a.email= #{email}
 		) THEN 1
 		WHEN EXISTS (
 			SELECT 1  FROM  user u INNER JOIN instructor i ON u.user_id  = i.instructor_id WHERE  u.id = #{id}  and i.email = #{email}
 	  ) THEN 1
		WHEN EXISTS (
			SELECT 1  FROM  user u INNER JOIN student s ON u.user_id  = s.student_id WHERE  u.id = #{id}  and s.email = #{email}
	  )  THEN 1 
	  ELSE 0
	END AS matched;
</select>
</mapper>