<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academylms.mapper.MainPageMapper">

	<!-- admin 전체 강의 조회 -->
	<select id="selectAllLectures" resultType="map">
	    SELECT l.lecture_id, l.title, l.started_at, l.ended_at
	    FROM lecture l
	    ORDER BY l.started_at DESC
	</select>
	
	<!-- instructor 본인 강의 조회 -->
	<select id="selectLecturesByInstructor" resultType="map">
	    SELECT l.lecture_id, l.title, l.started_at, l.ended_at
	    FROM lecture l
	    WHERE l.instructor_id = #{userId}
	    ORDER BY l.started_at DESC
	</select>
	
	<!-- student 본인 수강 강의 조회 -->
	<select id="selectLecturesByStudent" resultType="map">
	    SELECT l.lecture_id, l.title, l.started_at, l.ended_at
	    FROM lecture l
	    JOIN lecture_enrollment le ON l.lecture_id = le.lecture_id
	    WHERE le.student_id = #{userId}
	    ORDER BY l.started_at DESC
	</select>

	<!-- 시간표 -->
	<select id="selectOngoingLecturesForStudent" resultType="map">
	  SELECT l.lecture_id, l.title, l.day, l.time, l.started_at, l.ended_at,
	         l.room, l.instructor_id
	  FROM lecture l
	  JOIN lecture_enrollment e ON l.lecture_id = e.lecture_id
	  WHERE e.student_id = #{studentId}
	    AND NOW() BETWEEN l.started_at AND l.ended_at
	</select>
	
	<select id="selectOngoingLecturesForInstructor" resultType="map">
	  SELECT lecture_id, title, day, time, started_at, ended_at,
	         room, instructor_id
	  FROM lecture
	  WHERE instructor_id = #{instructorId}
	    AND NOW() BETWEEN started_at AND ended_at
	</select>
</mapper>