<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academylms.mapper.QnaMapper">
	<select id="selectQnaListByLectureId" resultType="map">
	    SELECT q.qna_id AS qnaId,
	           q.title,
	           q.is_public AS isPublic,
	           q.create_date AS createDate,
	           u.user_id AS writerName
	    FROM qna q
	    JOIN lecture_enrollment e ON q.enrollment_id = e.enrollment_id
	    JOIN user u ON e.student_id = u.user_id
	    WHERE e.lecture_id = #{lectureId}
	    ORDER BY q.create_date DESC
	</select>
    
    <select id="selectQnaOne" resultType="com.example.academylms.dto.Qna">
	    SELECT title, 
	           qna_id AS qnaId,
	           question,
	           is_public AS isPublic,
	           file_url AS fileUrl, 
	           create_date AS createDate
	    FROM qna
	    WHERE qna_id = #{qnaId}
	</select>
	
	<select id="findEnrollmentId" resultType="int">
	  SELECT enrollment_id
	  FROM lecture_enrollment
	  WHERE student_id = #{studentId} AND lecture_id = #{lectureId}
	</select>
	
	<insert id="insertQna" parameterType="com.example.academylms.dto.Qna">
      INSERT INTO qna (enrollment_id, title, question, is_public, file_url)
	  VALUES (#{enrollmentId}, #{title}, #{question}, #{isPublic}, #{fileUrl})
	</insert>
	
	<delete id="deleteQna" parameterType="int">
	    DELETE FROM qna
	    WHERE qna_id = #{qnaId}
	</delete>
	
	<select id="findStudentIdByQna" resultType="int">
	    SELECT le.student_id
	    FROM qna q
	    JOIN lecture_enrollment le ON q.enrollment_id = le.enrollment_id
	    WHERE q.qna_id = #{qnaId}
	</select>
	
	<update id="updateQnaAnswer">
	    UPDATE qna
	    SET answer = #{answer}, last_update = NOW()
	    WHERE qna_id = #{qnaId}
	</update>
	
	<insert id="insertAnswer" parameterType="com.example.academylms.dto.QnaAnswer">
	    INSERT INTO qna_answer (qna_id, answer, create_date)
	    VALUES (#{qnaId}, #{answer}, NOW())
	</insert>
	
	<select id="selectQnaAnswer" parameterType="int" resultType="com.example.academylms.dto.QnaAnswer">
	    SELECT answer_id AS answerId, 
	    	   qna_id AS qnaId,
	           answer,
	           create_date AS createDate
	    FROM qna_answer
	    WHERE qna_id = #{qnaId}
	    ORDER BY create_date ASC
	</select>
	<delete id="deleteQnaAnswer" parameterType="int">
	    DELETE FROM qna_answer
	    WHERE answer_id = #{answerId}
	</delete>
	
	<delete id="deleteAnswersByQnaId" parameterType="int">
	    DELETE FROM qna_answer
	    WHERE qna_id = #{qnaId}
	</delete>
</mapper>