<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academylms.mapper.StudyGroupMapper">
	<!-- 스터디 게시판 글 목록 -->
	<select id="getGroupsByLectureId" resultType="com.example.academylms.dto.StudyGroup">
        SELECT 
            group_id AS groupId,
            lecture_id AS lectureId,
            student_id AS studentId,
            create_date AS createDate
        FROM study_group
        WHERE lecture_id = #{lectureId}
    </select>

    <select id="getPostsByGroupId" resultType="com.example.academylms.dto.StudyPost">
        SELECT 
            post_id AS postId,
            group_id AS groupId,
            title,
            content,
            feedback,
            create_date AS createDate
        FROM study_post
        WHERE group_id = #{groupId}
        ORDER BY create_date DESC
    </select>
    
    <!-- 게시글 상세 -->
	<select id="selectPostById" parameterType="int" resultType="com.example.academylms.dto.StudyPost">
		SELECT post_id AS postId,
		group_id AS groupId, 
		title, 
		content, 
		feedback, 
		create_date AS createDate
		FROM study_post
		WHERE post_id = #{postId}
	</select>
	
	<select id="getGroupById" resultType="com.example.academylms.dto.StudyGroup">
	    SELECT group_id AS groupId, 
	    lecture_id AS lectureId, 
	    student_id AS studentId, 
	    create_date AS createDate
	    FROM study_group
	    WHERE group_id = #{groupId}
	</select>
	
	<insert id="insertStudyPost" parameterType="com.example.academylms.dto.StudyPost">
	    INSERT INTO study_post (group_id, title, content, create_date)
	    VALUES (#{groupId}, #{title}, #{content}, NOW())
	</insert>
	
	<update id="updateStudyPost" parameterType="com.example.academylms.dto.StudyPost">
	    UPDATE study_post
	    SET title = #{title},
	        content = #{content}
	    WHERE post_id = #{postId}
	</update>
	
	<delete id="deleteStudyPost" parameterType="int">
		DELETE FROM study_post WHERE post_id = #{postId}
	</delete>
	
	<update id="updateFeedback">
	    UPDATE study_post
	    SET feedback = #{feedback}
	    WHERE post_id = #{postId}
	</update>
	
	<!-- [1] 강의별 수강생 조회 -->
    <select id="selectStudentsByLectureId" resultType="com.example.academylms.dto.Student">
        SELECT s.student_id, s.name, s.email, s.phone, s.create_date
        FROM student s
        JOIN lecture_enrollment e ON s.student_id = e.student_id
        WHERE e.lecture_id = #{lectureId}
    </select>

    <!-- [2] 스터디 그룹 생성 -->
    <insert id="insertStudyGroup">
        INSERT INTO study_group (lecture_id, student_id, group_name, create_date)
        VALUES (#{lectureId}, #{leaderStudentId}, #{groupName}, NOW())
    </insert>
</mapper>